{% extends 'base.html.twig' %}

{% block title %}Hello ShowUserInfoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hej {{ app.user }}</h1>

    <p>Brugernavn: {{ app.user.email }}</p>
    <p>Roller: </p>
    <ul>
    {% for roles in app.user.roles %}
        <li>{{ roles }}</li>
    {% endfor %}
</ul>
    <p>Afdeling: {{ app.user.department }}    </p>
    <p> </p>
    <p> </p>


</div>
{% endblock %}
