{# {% extends 'base.html.twig' %}

{% block body %}
<style>
    .test { margin: 1em auto; max-width: 550px; width: 75%; font: 18px/1.5 sans-serif; }
    .test { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="test">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



    
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success #}
        {# <input type="hidden" name="admin" value="admin"/> #}

        <button type="submit">login</button>

         {# <p><a href="{{ path('app_home') }}">Glemt kodeord?</a></p> #}
    </form>
    </div>
{% endblock %} #}